body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("https://ak.picdn.net/shutterstock/videos/7408018/thumb/1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----------------------- */
/*      Landing Page       */
/* ----------------------- */

.landingPageContainer {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPageInput {
    transform: translate(30%, 30%);
}

/* ----------------------- */
/* Entire Weather Section  */
/* ----------------------- */
.weatherInfo {
    border: 3px solid black;
    background-image: url("https://img.freepik.com/free-vector/white-minimal-background_1393-354.jpg?size=626&ext=jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchBar {
    margin-left: 25%;
}

/* ----------------------- */
/* Current Weather Section */
/* ----------------------- */
.currentWeather {
    padding: 3rem;
}

.nowDate {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.yourLocation {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
}

.yourTemperature {
    margin-top: 10%;
    font-size: 7rem;
    margin-left: 20%;
}

.summary {
    display: flex;
    font-size: 1.4rem;
    margin-left: 25%;
}

.fullSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    padding: 0.4rem;
    font-size: 1.3rem;
    border-bottom: 1px solid;
}

#topOfFullSummary {
    margin-top: 1rem;
    border-top: 1px solid;
}

/* ----------------------- */
/* ----3 Day Forecast----- */
/* ----------------------- */

.fullForecast {
    position: relative;
    height: auto;
}

h2,
.forecast {
    display: flex;
    justify-content: center;
}

#topOfDailyForecast {
    border-top: 1px solid;
}

.bottomOfSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    padding: 0.4rem;
    font-size: 1.3rem;
}